:root {
    /* Text */
    --desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    /* Gradient */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    /* Dividers */
    --light-grayish-blue: hsl(240, 5%, 91%);
    /* Text */
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
}

*,
*::before,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.main-container {
    min-height: 100vh;
    padding: 9rem 1.5rem 6rem;
}

.main {
    padding: 3.5rem 1rem 1rem;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 20px 30px hsl(240, 73%, 25%);
}

.picture {
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: -163px;
}

.picture::before {
    content: url(../assets/img/bg-pattern-mobile.svg);
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.header {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.header__title {
    margin-top: 1.5rem;
    font-size: 2rem;
}

.accordion {
    font-size: .9rem;
    padding-bottom: 2rem;
}

.accordion__item {
    position: relative;
    border-bottom: 1px solid var(--light-grayish-blue);
    color: var(--very-dark-grayish-blue);
    overflow: hidden;
}

.accordion__question {
    position: relative;
    margin: 0;
    padding: 1rem 0;
    font-size: .8rem;
    cursor: pointer;
}

.accordion__response {
    margin: 0;
    max-height: 0;
    font-size: .8rem;
    color: var(--dark-grayish-blue);
    transition: all 0.4s ease;
    opacity: 0;
    overflow: hidden;
}

.accordion__question::after {
    content: url(../assets/img/icon-arrow-down.svg);
    position: absolute;
    top: 15px;
    right: 5px;
}

.accordion-open {
    padding: 0 0 1rem;
    opacity: 1;
    max-height: min-content;
}

.accordion__question--black {
    font-weight: 700;
    color: var(--desaturated-blue)
}

/* Arrow */

.accordion__question.arrow-show::after {
    transform: rotateX(180deg);
}

@media screen and (min-width: 768px) {
    .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 801px) {
    .main {
        width: 640px;
    }
}

@media screen and (min-width: 1280px) {
    .main-container {
        position: relative;
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .main-container::after {
        content: url(../assets/img/box-desktop.svg);
        position: absolute;
        top: 46%;
        left: 6.65%;
        z-index: 20;
        transition: all .5s ease;
    }
    
    .main-container.box-show::after {
        transform: translateX(-40px);
    }

    .main {
        width: 75%;
        padding: 2rem 4rem 4rem;       
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    
    
    .picture {
        position: relative;
        margin-top: 10px;
        margin-left: -265px;
        z-index: 10;
    }
    
    .picture::before {
        content: url(../assets/img/bg-pattern-desktop.svg);
        top: -365px;
        left: 105px;
        z-index: -1;
    }

    .header {
        text-align: left;
    }

    .container {
        width: 50%;
        margin-left: auto;
    }

    .accordion {
        height: 280px;
    }

    .accordion__question {
        font-size: 1rem;
    }

    .accordion__question:hover {
        color: var(--soft-red);
    }
}